USE [master]
GO
/****** Object:  Database [StudentCompanyDB]    Script Date: 2020/5/12 10:26:09 ******/
CREATE DATABASE [StudentCompanyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentCompanyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MYSQLEXPRESS\MSSQL\DATA\StudentCompanyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentCompanyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MYSQLEXPRESS\MSSQL\DATA\StudentCompanyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentCompanyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentCompanyDB]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2020/5/12 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Username] [char](8) NOT NULL,
	[UserPSW] [char](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[毕业生]    Script Date: 2020/5/12 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[毕业生](
	[学号] [char](10) NOT NULL,
	[身份证号] [char](15) NULL,
	[姓名] [char](15) NULL,
	[年龄] [int] NULL,
	[联系方式] [char](11) NULL,
	[学院] [char](50) NULL,
	[专业] [char](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[学号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[公司]    Script Date: 2020/5/12 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[公司](
	[公司编号] [char](20) NOT NULL,
	[公司名称] [char](50) NULL,
	[公司地址] [char](30) NULL,
	[联系电话] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[公司编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[签订协议]    Script Date: 2020/5/12 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[签订协议](
	[合同编号] [char](20) NOT NULL,
	[签订日期] [char](10) NOT NULL,
	[毕业生学号] [char](10) NULL,
	[用人单位编号] [char](20) NULL,
	[薪资] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[合同编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[签订协议]  WITH CHECK ADD  CONSTRAINT [FK__签订协议__毕业生学号__3A81B327] FOREIGN KEY([毕业生学号])
REFERENCES [dbo].[毕业生] ([学号])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[签订协议] CHECK CONSTRAINT [FK__签订协议__毕业生学号__3A81B327]
GO
ALTER TABLE [dbo].[签订协议]  WITH CHECK ADD  CONSTRAINT [FK__签订协议__用人单位编号__3B75D760] FOREIGN KEY([用人单位编号])
REFERENCES [dbo].[公司] ([公司编号])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[签订协议] CHECK CONSTRAINT [FK__签订协议__用人单位编号__3B75D760]
GO
USE [master]
GO
